$navbarHeight ?= 4rem

// colors
$accentColor ?= #A0D911
$textColor ?= #2c3e50
$borderColor ?= #A0D911
$codeBgColor ?= #282c34
$arrowBgColor ?= #ccc
$badgeTipColor ?= #A0D911
$badgeWarningColor ?= darken(#ffe564, 35%)
$badgeErrorColor ?= #DA5961
